.comments-container {
  display: flex;
  margin-bottom: 10px;

  .comments-owner {
    font-weight: bold;
    padding-right: 6px;
  }
  .span {
    margin-right: 8px;
    font-size: 14px;
    line-height: 18px;
    color: #262626;
    padding-left: 6px;
    text-align: start;
    
  }

  
}