.post-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 100%;
  max-width: 500px;
}

.post-card {
  width: 100%;
  max-width: 500px;
  height: 100%;
  background: #fff;
  border: 1px solid #dfdfdf;
  margin-bottom: 30px;
	padding: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);

  &:last-child {
  margin-bottom: 0;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .left-content { 
      display: flex;
      align-items: center;
      .avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 16px;
        object-fit: cover;
        cursor: pointer;
      }
  
      span {
        width: auto;
        font-weight: bold;
        color: #000;
        font-size: 14px;
      }
  
      .post-date {
        font-weight: lighter;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
        margin-left: 8px;
      }

     
    }
    .right-content {
      display: flex;
      align-items: center;
      img {
        cursor: pointer;
      }

      button {
        width: 50px;
        height: 30px;
        border: 1px solid #DBDBDB;
        border-radius: 4px;
        font-weight: 600;
        font-size: 14px;
        color: #262626;
        cursor: pointer;
        margin-right: 10px;
      }
    }
   
  }

  .photo-container {
    width: 100%;
    margin-bottom: 20px;

    .post-image {
      width: 100%;
      height: 100%;
      max-height: 280px;
      min-height: 280px;
      object-fit: contain;
    }
  }

  .post-actions {
    .reaction-wrapper {
      width: 100%;
      height: 100%;
      max-height: 32px;
      max-width: 466px;
      display: flex;
      margin-bottom: 10px;
      cursor: pointer;

      .reaction-icon {
        display: flex;
        align-items: center;
        transition: all 0.3s ease; 
      
        svg {
          &:hover {
            transform: scale(1.2); 
        
            svg {
              filter: brightness(250%); 
            }
          }
        }
        .likes {
          margin-left: 10px;
        }
      }

    }

    .post-text {
      display: flex;
      flex-direction: column;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;

      .post-text-wrapper {
        margin-bottom: 10px;

        .post-owner {
          margin-right: 8px;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          color: #262626;
          padding-left: 6px;
          text-align: start;
        }
      }
        p {
          padding-left: 6px;
          font-size: 14px;
        }
    }
  }

  .comments-container {
      display: flex;
      flex-direction: column;
  

    .add-comment-container {
      width: 100%;
      height: 50px;
      border-radius: 1px solid #dfdfdf;
      display: flex;
      justify-content: space-between;
      align-items: center;

    input {
      padding-left: 6px;
      width: 80%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 14px;
    }

    button {
      cursor: pointer;
      width: 70px;
      height: 100%;
      background: none;
      border: none;
      outline: none;
      text-transform: capitalize;
      font-size: 16px;
      color: rgb(0, 162, 255);
      opacity: 0.5;
    }
    }
  }
}
