// TO DO - Move * css (reset) to index.css
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif !important;
}

a {
	text-decoration: none !important;
}

li {
	list-style: none;
}

.aside-wrapper {
	width: 100%;
	padding: 20px;
	height: 100vh;

	.sidebar-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 100%;

		.sidebar-menu {
			width: 200px;
		
		
			.sidebar {
				display: flex;

				img {
					margin-right: 10px;
				}
				
			}
		}
	}
}

.sidebar-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	height: 99vh;
	padding: 15px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);

	.logo img {
		width: 100%;
		height: 100%;
	}
	
	.sidebar {
		display: flex;
		.navigation {
			width: 100%;
			height: 100%;
			.nav-item {
				display: flex;
				align-items: center;
				width: 100%;
				margin-bottom: 16px;
				cursor: pointer;
				

				&:hover {
					background-color: #F2F2F2;
					transition: all 0.25s ease-out;
				}

				&:hover img {
					transform: scale(1.1);
				}
				img {
					margin-right: 16px;
				}

				.name {
					width: 100%;
				}

			}
		}
	}
}


