.drop-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .labelFile {
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    height: 250px;
    width: 600px;
  
    label {
    cursor: pointer;
    text-align: center;
    }
    
  }

  

.inputFile {
  display: none;
}


.preview-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  img {
    width: 100px;
    margin-right: 20px;
  }
}
}


